body {
   margin: 0;
   padding: 0;
   font-family: Arial;
   display: flex;
   flex-direction: column;
   background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);;
}

#header {
   background-color: rgb(72, 72, 255);
   height: 85px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   box-sizing: border-box;
}
#judul {
   color: white;
   font-size: 40px;
   font-weight: bold;
}
#logReg {
   display: flex;
   align-items: center;
}
#logReg p {
   color: white;
   font-family: Arial;
   font-size: 1.2em;
}
.logRegButton {
   background-color: rgb(72, 72, 255);
   border: 2px solid white;
   text-decoration: none;
   color: white;
   padding: 10px 20px;
   font-size: 17px;
   font-weight: bold;
   border-radius: 20px;
   transition: 0.3s ease-in-out;
}
.logRegButton:hover {
   background-color: white;
   color:rgb(72, 72, 255);
}
#regButton {
   border-radius: 20px 0 0 20px;
}
#logButton {
   border-radius: 0 20px 20px 0;
}
#content {
   text-align: center;
   padding: 20px;
   flex: 1;
}
#content h1 {
   align-items: center;
   margin-top: 8px;
   margin-bottom: 10px;
   font-size: 40px;
   color: white;
}

.product-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
}
.product {
   border: 1px solid #ddd;
   padding: 15px;
   border-radius: 8px;
   background-color: #f9f9f9;
   transition: transform 0.2s;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
}
.product:hover {
   transform: scale(1.05);
   box-shadow: 0px 4px 10px rgba(0,0,0,5);
}
.product img {
   width: 150px;
   height: 150px;
}
.product h3, .product p, .product img{
   margin: 0;
}
.product p {
   font-size: 20px;
}
.product a {
   display: block;
   text-decoration: none;
   color: white;
   background-color: blue;
   width: 90%;
   padding: 5px 10px;
   border-radius: 5px;
}
.product a:hover {
   background-color: darkblue;
}

#footer {
   background-color: rgb(9, 9, 146);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 70px;
   gap: 20px;
   font-family: 'Lucida Sans';
   font-weight: bold;
}